project:
  type: website
  output-dir: docs

website:
  title: "Aster performance"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - href: userflow.qmd
        text: User Experience

format:
  html:
    theme: cosmo
    css: styles.css
    toc: true



